<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" ng-app="WhalesApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en" ng-app="WhalesApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" ng-app="WhalesApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="Whale"> <!--<![endif]-->
    <head>
        <base href="/public/">
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Whale</title>


        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top:    60px;
                padding-bottom: 40px;
            }
            footer {
                margin-top:     32px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">


        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>        
        <script src="js/angular-1.0.7.min.js"></script>
        <script src="js/angular-cookies-1.0.7.min.js"></script>


    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/#/">SocialWhales</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a>Explore</a>
                            </li>
                            <li>
                                <a>Upload Photos</a>
                            </li>
                        </ul>

                        <ul class="nav pull-right" ng-show="!UserService.isLoggedIn()">
                            <li>
                                <a href="/#/login">Login</a>
                            </li>
                        </ul>

                        <ul class="nav pull-right" ng-show="UserService.isLoggedIn()">
                            <li>
                                <a href="/#/logout">Logout</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid" id="flashes">
            <div class="{{ flashClass }}" id="flash" ng-show="flash">
                {{ flash }}
            </div>
        </div>

        <div class="container">
            
            <div id="view" ng-view></div>
            
            <footer>
                <p>&copy; Company 2013</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/underscore-min.js"></script>

        <script src="app/app.js"></script>
        <!-- common files -->
        <script src="app/common/FlashService.js"></script>
        <script src="app/common/SessionService.js"></script>
        <script src="app/common/UserService.js"></script>
        <!-- controllers-specific files -->
        <!-- controller:landing -->
        <script src="app/landing/LandingController.js"></script>
        <!-- controller:signup -->
        <script src="app/signup/SignupController.js"></script>
        <!-- controller:login -->
        <script src="app/login/LoginController.js"></script>
        <!-- controller:logout -->
        <script src="app/logout/LogoutController.js"></script>
        <!-- controller:profile -->
        <!-- controller:photo -->
        <!-- controller:whale -->


        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>
</html>
